.formula {
  display: flex;
  align-items: center;
  height: $formula-height;
  width: 100%;
  font-size: $formula-font-size;
  color: $color-grey;
  &__label {
    padding: 2px 12px 0 6px;
    border-right: 1px solid $border-color;
    font-style: italic;
    font-weight: bold;
  }
  &__input {
    padding: 0 10px;
    outline: none;
    width: 100%;
    height: 100%;
    color: $color-black;
    vertical-align: middle;
  }
}
