@mixin focus() {
  &:focus {
    box-shadow: $shadowFocus;
    outline: none;
    color: #1a1a1a;
  }
}

@mixin hover($color: #8a8d8e) {
  &:hover {
    border: 1px solid $color;
  }
}

@mixin button($color: #e87676) {
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 4px 4px 0 4px;
  border-radius: 4px;

  @include focus();

  &:hover {
    & > span {
      color: $color;
    }
  }

  &:active {
    background-color: rgba(106, 104, 104, 0.23);
    transition: all 0.1s;
  }
}
