// Size
$header-height: 44px;
$toolbar-height: 44px;
$formula-height: 30px;
$formula-font-size: 20px;
$row-height: 24px;
$number-width: 40px;
$cell-width: 120px;
$homescreen-header-height: 64px;

// Colors
$color-grey: #5f6368;
$color-black: #1a1a1a;
$border-color: #c0c0c0;
$border-color-cell: #e2e2e3;
$background-cell-color: #f8f9fa;
$shadowFocus: 0 0 0 0.1em #4a8a9a;
$shadowHover: 0 0 0 0.1em #4a8a9a;
$button-active: #dddcdc;
$resize: #5252cb;
